$black: #222222;
$white: #fff;
$pink-bkg: #F1E4E6;
$pink-text: #f16d7f;
$lightgray: #EAEAEA;
$grey-text: #9F9F9F;
$grey-area: #B1B1B1;
$text-darkgray: #575757;
$tablet-width: 1599px;
$mobile-width: 767px;