@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px; }

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px; }

.container {
  width: 1140px;
  margin: 0 auto; }

@media (max-width: 1599px) {
  .container {
    width: 96%; } }
@media (max-width: 767px) {
  .container {
    width: 94%; } }
.header {
  background-color: #222222; }

.header__logo {
  margin: 0 41px 0 0; }
  @media (max-width: 1599px) {
    .header__logo {
      margin-left: 16px; } }

.header__button {
  background-color: transparent;
  border: 0; }

.header_link {
  margin: 0 0 0 33px; }
  @media (max-width: 767px) {
    .header_link {
      display: none; } }

.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center; }

.header__menu {
  display: none;
  margin: 0 63px; }

.display-block {
  display: block; }

.header__button-menu {
  position: relative; }

.header__burger {
  fill: #fff;
  background-color: #222222;
  border: none; }

.header__burger:hover,
.header__burger:focus {
  fill: #f16d7f;
  cursor: pointer; }

.header__menu {
  position: absolute;
  top: 100%;
  right: -300px;
  background: white;
  display: none;
  height: 764px;
  width: 232px;
  box-shadow: -7px 3px 5px grey; }
  @media (max-width: 1599px) {
    .header__menu {
      right: -85px;
      position: absolute;
      z-index: 9999; } }

.header__menu-list {
  padding: 0;
  margin: 0;
  list-style: none; }

.header__burger:hover + .header__menu,
.header__burger:focus + .header__menu {
  display: block; }

.header__menu-title {
  text-transform: uppercase;
  padding: 37px 0 0 34px;
  font-size: 14px;
  line-height: 17px; }

.menu-sub-item__item-link {
  color: #6F6E6E;
  text-decoration: none;
  margin-left: 30px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  line-height: 2; }

.menu-sub-item__item-link:hover {
  background-color: #f16d7f;
  cursor: pointer; }

.menu-sub-item__title {
  text-transform: uppercase;
  padding: 24px 0 12px 33px;
  color: #f16d7f; }

.brand {
  display: flex; }

.brand__title-wrp {
  display: flex;
  align-items: center;
  padding: 0 0 0 92px;
  background-color: #F1E4E6;
  flex-grow: 1; }

.brand__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  text-transform: uppercase;
  position: relative; }

.brand__title::after {
  content: '';
  width: 12px;
  height: 100%;
  background-color: #f16d7f;
  position: absolute;
  left: -27px;
  top: 0px; }

.brand__sub-title {
  display: block;
  font-size: 32px;
  line-height: 38px; }

.brand__sub-title-pink {
  color: #f16d7f; }

@media (max-width: 1599px) {
  .brand__img {
    width: 50%;
    height: 368px;
    object-fit: cover; }

  .brand__title-wrp {
    width: 50%;
    min-height: 368px; }

  .brand__title {
    font-size: 44px;
    line-height: 58px; }

  .brand__sub-title {
    font-size: 24px;
    line-height: 29px; } }
@media (max-width: 767px) {
  .brand__img {
    display: none; }

  .brand__title {
    font-size: 38px;
    line-height: 45px; }

  .brand__sub-title {
    font-size: 20px;
    line-height: 24px; } }
.sales__item {
  width: 360px;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 1599px) {
    .sales__item {
      width: 33%;
      min-height: 168px; } }
  @media (max-width: 767px) {
    .sales__item {
      width: 100%;
      min-height: 247px; } }

.sales__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 65px;
  justify-content: space-between; }

.sales__item--woman {
  background-image: url("../img/sales-woman.jpg");
  display: flex;
  flex-direction: column; }
  @media (max-width: 1599px) {
    .sales__item--woman {
      margin-bottom: 32px; } }

.sales__item--man {
  background-image: url("../img/sales-man.jpg");
  display: flex;
  flex-direction: column; }
  @media (max-width: 1599px) {
    .sales__item--man {
      margin-bottom: 32px; } }

.sales__item--kids {
  background-image: url("../img/sales-kid.jpg");
  display: flex;
  flex-direction: column; }
  @media (max-width: 1599px) {
    .sales__item--kids {
      margin-bottom: 32px; } }

.sales__item--shoes {
  background-image: url("../img/sales-accesories.jpg");
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 180px;
  margin-top: 30px;
  margin-bottom: 96px; }
  @media (max-width: 1599px) {
    .sales__item--shoes {
      min-height: 116px;
      margin-top: 0px;
      margin-bottom: 155px; } }
  @media (max-width: 767px) {
    .sales__item--shoes {
      margin-bottom: 64px; } }

.sales__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  text-transform: uppercase; }

.sales__item-title {
  color: #f16d7f;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 0em; }

.products__title {
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em; }

.products__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 48px; }
  @media (max-width: 1599px) {
    .products__text {
      margin-bottom: 72px; } }
  @media (max-width: 767px) {
    .products__text {
      margin-bottom: 65px; } }

.prosucts__item {
  background-color: #F8F8F8;
  margin-bottom: 30px;
  padding-bottom: 20px; }
  @media (max-width: 1599px) {
    .prosucts__item {
      margin-bottom: 17px; } }
  @media (max-width: 767px) {
    .prosucts__item {
      margin-left: auto;
      margin-right: auto; } }

/* knopka zatemnenie */
.cart-wrapper {
  position: relative; }

.img {
  width: 100%;
  min-height: 150px; }

.overlay {
  width: 100%;
  min-height: 100%;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0; }

.products_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  background-color: rgba(58, 56, 56, 0.86);
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 10px 13px; }

.products_button-text {
  margin-left: 11px; }

.button-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.overlay,
.products_button {
  display: none; }

.cart:hover .products_button,
.cart:hover .overlay {
  display: block; }

/* konec knopki */
.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.prosucts__item-title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  margin-top: 25px;
  margin-left: 18px;
  margin-bottom: 13px;
  text-transform: uppercase; }

.prosucts__item-desc {
  max-width: 315px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-left: 16px;
  padding-bottom: 18px; }

.prosucts__item-link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  text-decoration: none;
  margin-left: 18px; }

.products__button {
  border: 1px solid #f16d7f;
  text-align: center;
  color: #f16d7f;
  background: #fff;
  padding: 14px 39px;
  text-decoration: none;
  margin-top: 48px;
  margin-bottom: 100px;
  max-width: 230px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  transition: color 900ms, background-color 900ms; }
  @media (max-width: 1599px) {
    .products__button {
      margin-top: 16px;
      margin-bottom: 65px; } }
  @media (max-width: 767px) {
    .products__button {
      margin-top: 25px;
      margin-bottom: 96px; } }

.products__button:hover,
.products__button:focus {
  background-color: #f16d7f;
  color: #fff;
  cursor: pointer; }

.advantage {
  background-color: #222222;
  padding-top: 103px;
  padding-bottom: 103px; }
  @media (max-width: 1599px) {
    .advantage {
      padding-top: 48px;
      padding-bottom: 64px; } }
  @media (max-width: 767px) {
    .advantage {
      padding-bottom: 33px; } }

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center; }
  @media (max-width: 1599px) {
    .advantage__list {
      display: block; } }

.advantage__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  padding-bottom: 16px; }

.advantage__img-delivery {
  padding-bottom: 28px; }

.advantage__img-sales {
  padding-bottom: 19px; }

.advantage__img-quality {
  padding-bottom: 25px; }

.advantage__text {
  max-width: 300px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #fff; }
  @media (max-width: 1599px) {
    .advantage__text {
      margin: 0 auto 48px auto; } }

.subscribe {
  background-image: url(../img/footer.jpg);
  padding-top: 87px;
  padding-bottom: 126px; }
  @media (max-width: 1599px) {
    .subscribe {
      padding-top: 43px;
      padding-bottom: 219px;
      background-repeat: no-repeat;
      background-size: cover; } }

.subscribe__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center; }
  @media (max-width: 1599px) {
    .subscribe__list {
      display: block; } }

.subscribe__block {
  margin-right: 95px; }
  @media (max-width: 1599px) {
    .subscribe__block {
      margin: 20px auto 20px auto; } }

.subscribe__img {
  border-radius: 50%; }

.subscribe__quote {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  max-width: 355px; }
  @media (max-width: 1599px) {
    .subscribe__quote {
      margin: 20px auto 48px auto; } }

.subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
  padding-top: 30px; }

.subscribe__sub-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-transform: uppercase;
  padding-bottom: 25px; }
  @media (max-width: 767px) {
    .subscribe__sub-title {
      font-size: 14px;
      margin-top: -10px; } }

.subscribe__inputarea {
  background: #E1E1E1;
  padding-left: 22px;
  width: 234px;
  height: 47px;
  border: none;
  border-radius: 50px 0px 0px 50px; }
  @media (max-width: 767px) {
    .subscribe__inputarea {
      width: 200px;
      height: 47px; } }

.subscribe__button {
  background-color: #f16d7f;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100px;
  height: 49px;
  border: none;
  color: #fff;
  border-radius: 0px 50px 50px 0px;
  margin-left: -4px; }
  @media (max-width: 767px) {
    .subscribe__button {
      width: 80px;
      height: 49px; } }

.subscribe__button:hover,
.subscribe__button:focus {
  cursor: pointer; }

.copyright {
  background-color: #222222; }

.copyright__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center; }
  @media (max-width: 767px) {
    .copyright__block {
      flex-direction: column-reverse; } }

.copyright__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  margin-top: 30px; }
  @media (max-width: 767px) {
    .copyright__text {
      margin: 10px auto 10px auto; } }

.copyright_img-button {
  padding: 0px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 7px;
  width: 32px;
  height: 32px;
  background: #fff;
  border: none;
  transition: background-color 900ms, fill 1000ms; }

.copyright_img {
  fill: #222222; }

.copyright_img-button:hover,
.copyright_img-button:focus {
  background: #f16d7f; }

.copyright_img-button:hover .copyright_img,
.copyright_img-button:focus .copyright_img {
  fill: #fff; }

.copyright_img-button:active .copyright_img {
  fill: red; }

@media (max-width: 767px) {
  .copyright__social {
    margin: 14px auto 10px auto; } }

.registration__form {
  display: flex;
  flex-direction: column; }

.registration__wrap {
  display: flex; }
  @media (max-width: 767px) {
    .registration__wrap {
      flex-direction: column; } }

.registration__title-text {
  background-color: #F1E4E6;
  width: 100%;
  padding: 59px 0 60px 230px;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  font-weight: 400;
  color: #f16d7f;
  margin-bottom: 64px; }
  @media (max-width: 1599px) {
    .registration__title-text {
      padding-left: 16px;
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .registration__title-text {
      padding-left: 0;
      padding-right: 0;
      text-align: center; } }

.registration__form {
  max-width: 360px; }

.registration__form-title {
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px; }

.registration__form-input {
  height: 45px;
  width: 360px;
  margin-bottom: 20px;
  border: 2px solid #d1d0d0; }
  @media (max-width: 767px) {
    .registration__form-input {
      width: 350px; } }

.registration__form-help {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1; }

input::placeholder {
  color: #B1B1B1; }

.registration__button {
  border: 1px solid #f16d7f;
  background-color: #f16d7f;
  color: #fff;
  padding: 16px 0;
  text-decoration: none;
  max-width: 167px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-top: 39px;
  margin-bottom: 96px;
  display: inline-block;
  transition: color 900ms, background 900ms; }
  @media (max-width: 767px) {
    .registration__button {
      margin-bottom: 40px; } }

.registration__button-text {
  margin-right: 20px; }

.registration__button-img {
  fill: #fff;
  transition: fill 1000ms; }

.registration__button:hover,
.registration__button:focus {
  color: #f16d7f;
  background: #fff;
  cursor: pointer; }

.registration__button:hover .registration__button-img,
.registration__button:focus .registration__button-img {
  fill: #f16d7f; }

.registration__content {
  margin-left: 128px; }
  @media (max-width: 767px) {
    .registration__content {
      margin-left: 0px; } }

.registration__content-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 22px; }
  @media (max-width: 1599px) {
    .registration__content-title {
      padding-bottom: 32px;
      font-size: 16px;
      line-height: 19px; } }

.registration__content-text {
  max-width: 652px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 21px; }

.registration__content-item {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
  position: relative;
  padding-left: 35px; }

.registration__content-item:before {
  content: '✓';
  position: absolute;
  margin-left: -35px; }

.registration__radio {
  padding-top: 11px;
  padding-bottom: 13px; }

.registration__radio-input-male {
  display: none; }

.registration__radio-label-male {
  position: relative;
  padding-left: 27px; }

.registration__radio-label-male:after {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  border: 2px solid #B1B1B1;
  border-radius: 50%;
  right: 40px;
  top: -1px; }

.registration__radio-input-male:checked + .registration__radio-label-male:after {
  background: #f16d7f;
  background-size: 10px 10px; }

.registration__radio-input-female {
  display: none; }

.registration__radio-label-female {
  position: relative;
  padding-left: 47px; }

.registration__radio-label-female:after {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  border: 2px solid #B1B1B1;
  border-radius: 50%;
  right: 55px;
  top: -1px; }

.registration__radio-input-female:checked + .registration__radio-label-female:after {
  background: #f16d7f;
  background-size: 10px 10px; }

.cart__title-text {
  background-color: #F1E4E6;
  width: 100%;
  padding: 59px 0 60px 230px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
  margin-bottom: 64px; }
  @media (max-width: 1599px) {
    .cart__title-text {
      padding-left: 16px;
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .cart__title-text {
      padding-left: 0;
      padding-right: 0;
      text-align: center; } }

.cart__wrap {
  display: flex; }
  @media (max-width: 1599px) {
    .cart__wrap {
      display: flex;
      flex-direction: column; } }

.cart__product-item {
  display: flex;
  width: 652px;
  box-shadow: 15px 15px 15px #b3b2b2;
  margin: 0 128px 40px 0; }
  @media (max-width: 1599px) {
    .cart__product-item {
      width: 734px;
      margin: 0 0 40px 0;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 767px) {
    .cart__product-item {
      width: 358px;
      height: 188px;
      margin-left: auto;
      margin-right: auto; } }

.cart__product-item-title-button {
  display: flex; }

.cart__product-item-button {
  padding-top: 28px;
  padding-left: 55px;
  border: none;
  background-color: #fff;
  fill: #575757;
  transition: fill 800ms; }
  @media (max-width: 1599px) {
    .cart__product-item-button {
      padding-left: 135px; } }
  @media (max-width: 767px) {
    .cart__product-item-button {
      padding-top: 17px;
      padding-left: 10px;
      width: 10px;
      height: 10px; } }

@media (max-width: 767px) {
  .cart__product-item-button-img {
    width: 10px;
    height: 10px; } }

.cart__product-item-button:hover,
.cart__product-item-button:focus {
  fill: #f16d7f; }

.cart__product-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  width: 262px;
  padding: 22px 0 42px 31px; }
  @media (max-width: 767px) {
    .cart__product-title {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      width: 144px;
      padding: 14px 0 26px 17px; } }

.cart__product-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #575757;
  padding: 0 0 6px 31px; }
  @media (max-width: 767px) {
    .cart__product-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      padding: 0px 0 4px 17px; } }

.cart__product-price {
  color: #f16d7f; }

.cart__product-number {
  width: 35px;
  height: 25px;
  font-size: 18px;
  line-height: 22px;
  padding-left: 15px;
  border: 1px solid #b3b3b3; }
  @media (max-width: 767px) {
    .cart__product-number {
      width: 15px;
      height: 15px;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 14px;
      padding-left: 5px; } }

@media (max-width: 1599px) {
  .cart__button-shopping-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px; } }

.cart__button-shopping-clear {
  height: 50px;
  width: 235px;
  margin-top: 32px;
  margin-bottom: 128px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  background-color: #fff;
  border: 2px solid #B1B1B1;
  color: #575757;
  transition: color 900ms, background 900ms; }
  @media (max-width: 1599px) {
    .cart__button-shopping-clear {
      margin: 0 24px 0 0; } }
  @media (max-width: 767px) {
    .cart__button-shopping-clear {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      height: 32px;
      width: 170px;
      text-transform: none;
      margin: 0 5px 0 0; } }

.cart__button-shopping-clear:hover,
.cart__button-shopping-clear:focus {
  color: #fff;
  background: #f16d7f;
  cursor: pointer; }

.cart__button-shopping-continue {
  height: 50px;
  width: 224px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  float: right;
  margin-right: 128px;
  margin-top: 32px;
  margin-bottom: 128px;
  background-color: #fff;
  border: 2px solid #B1B1B1;
  color: #575757;
  transition: color 900ms, background 900ms; }
  @media (max-width: 1599px) {
    .cart__button-shopping-continue {
      margin: 0 0 0 24px; } }
  @media (max-width: 767px) {
    .cart__button-shopping-continue {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      height: 32px;
      width: 170px;
      text-transform: none;
      margin: 0 0 0 5px; } }

.cart__button-shopping-continue:hover,
.cart__button-shopping-continue:focus {
  color: #fff;
  background: #f16d7f;
  cursor: pointer; }

@media (max-width: 1599px) {
  .cart__address {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto; } }
@media (max-width: 767px) {
  .cart__address {
    flex-direction: column; } }

.cart__address-form {
  display: flex;
  flex-direction: column; }

.cart__address-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px; }
  @media (max-width: 1599px) {
    .cart__address-title {
      margin-top: 64px; } }
  @media (max-width: 767px) {
    .cart__address-title {
      margin-top: 48px; } }

.cart__form-input {
  height: 45px;
  width: 360px;
  margin-bottom: 20px;
  border: 2px solid #d1d0d0; }
  @media (max-width: 767px) {
    .cart__form-input {
      width: 350px; } }

.cart__button-quote {
  height: 35px;
  width: 101px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-top: 3px;
  margin-bottom: 57px;
  background-color: #fff;
  border: 2px solid #B1B1B1;
  color: #575757;
  transition: color 900ms, background 900ms; }
  @media (max-width: 1599px) {
    .cart__button-quote {
      margin-bottom: 128px; } }
  @media (max-width: 1599px) {
    .cart__button-quote {
      margin-bottom: 48px; } }

.cart__button-quote:hover,
.cart__button-quote:focus {
  color: #fff;
  background: #f16d7f;
  cursor: pointer; }

.card__price {
  height: 214px;
  width: 360px;
  background-color: #F5F3F3; }
  @media (max-width: 1599px) {
    .card__price {
      margin: 103px 0 147px 15px; } }
  @media (max-width: 767px) {
    .card__price {
      margin: 0 0 96px 0; } }

.card__price-sub {
  font-size: 11px;
  line-height: 13px;
  margin-left: 218px;
  padding-top: 39px;
  text-transform: uppercase;
  font-weight: 400; }

.card__price-sub-cost {
  font-size: 11px;
  line-height: 13px;
  float: right;
  margin-right: 34px;
  font-weight: 400; }

.card__price-grand {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-left: 153px;
  padding-top: 12px;
  padding-bottom: 12px; }

.card__price-grand-cost {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  float: right;
  margin-right: 37px; }

hr {
  width: 275px; }

.cart__price-button-order {
  height: 50px;
  width: 273px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-top: 8px;
  background-color: #fff;
  border: 2px solid #B1B1B1;
  background-color: #f16d7f;
  color: #fff;
  transform: translate(-50%, 0);
  left: 50%;
  position: relative;
  transition: color 900ms, background 900ms; }

.cart__price-button-order:hover,
.cart__price-button-order:focus {
  color: #f16d7f;
  background: #fff;
  cursor: pointer;
  border: 2px solid #f16d7f; }

/*# sourceMappingURL=style.css.map */
