.brand {
    display: flex;
}

.brand__title-wrp {
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
    background-color: $pink-bkg;
    flex-grow: 1;
}

.brand__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: $black;
    text-transform: uppercase;
    position: relative;
}

.brand__title::after {
    content: '';
    width: 12px;
    height: 100%;
    background-color: $pink-text;
    position: absolute;
    left: -27px;
    top: 0px;
}

.brand__sub-title {
    display: block;
    font-size: 32px;
    line-height: 38px;
}

.brand__sub-title-pink {
    color: $pink-text;
}

@media (max-width: $tablet-width) {
    .brand__img {
        width: 50%;
        height: auto;
        object-fit: cover;
    }

    .brand__title-wrp {
        width: 50%;
        min-height: 368px;

    }

    .brand__title {
        font-size: 44px;
        line-height: 58px;
    }

    .brand__sub-title {
        font-size: 24px;
        line-height: 29px;
    }
}

@media (max-width: $mobile-width) {  
    .brand__img {
        display: none;
    }

    .brand__title {
        font-size: 38px;
        line-height: 45px;
    }

    .brand__sub-title {
        font-size: 20px;
        line-height: 24px;
    }
}