.cart__title-text {
    background-color: $pink-bkg;
    width: 100%;
    padding: 59px 0 60px 230px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    text-transform: uppercase;
    color: $pink-text;
    margin-bottom: 64px;

    @media (max-width: $tablet-width) {
        padding-left: 16px;
        margin-bottom: 40px;
    }
    @media (max-width: $mobile-width) {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}

.cart {
    @media (max-width: $tablet-width) {
    }
}
.cart__wrap {
    display: flex;

    @media (max-width: $tablet-width) {
        display: flex;
        flex-direction: column;
    }
}

.cart__product {
    @media (max-width: $tablet-width) {
    }
}

.cart__product-item {
    display: flex;
    width: 652px;
    box-shadow: 15px 15px 15px rgb(179, 178, 178);
    margin: 0 128px 40px 0;

    @media (max-width: $tablet-width) {
        width: 734px;
        margin: 0 0 40px 0;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: $mobile-width) {
        width: 358px;
        height: 188px;
        margin-left: auto;
        margin-right: auto;
    }
}

.cart__product-item-title-button{
    display: flex;
}

.cart__product-item-button {
    padding-top: 28px;
    padding-left: 55px;
    border: none;
    background-color: $white;
    fill: $text-darkgray;
    transition: fill 800ms;

    @media (max-width: $tablet-width) {
        padding-left: 135px;
    }

    @media (max-width: $mobile-width) {
        padding-top: 17px;
        padding-left: 10px;
        width: 10px;
        height: 10px;
    }  
}

.cart__product-item-button-img {
    @media (max-width: $mobile-width) {
        width: 10px;
        height: 10px;
    }  
}

.cart__product-item-button:hover,  
.cart__product-item-button:focus {
    fill: $pink-text;
}

.cart__product-title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    width: 262px;
    padding: 22px 0 42px 31px;

    @media (max-width: $mobile-width) {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        width: 144px;
        padding: 14px 0 26px 17px;
    } 
}

.cart__product-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: $text-darkgray;
    padding: 0 0 6px 31px;

    @media (max-width: $mobile-width) {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        padding: 0px 0 4px 17px;
    } 
}

.cart__product-price {
    color: $pink-text;
}

.cart__product-number {
    width: 35px;
    height: 25px;
    font-size: 18px;
    line-height: 22px;
    padding-left: 15px;
    border: 1px solid rgb(179, 179, 179);

    @media (max-width: $mobile-width) {
        width: 15px;
        height: 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 14px;
        padding-left: 5px;
    } 
}

.cart__button-shopping-block {

    @media (max-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px;
    }
}

.cart__button-shopping-clear {
    height: 50px;
    width: 235px;
    margin-top: 32px;
    margin-bottom: 128px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    background-color: $white;
    border: 2px solid $grey-area;
    color: $text-darkgray;
    transition: color 900ms, background 900ms;

    @media (max-width: $tablet-width) {
        margin: 0 24px 0 0;
    }

    @media (max-width: $mobile-width) {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        height: 32px;
        width: 170px;
        text-transform: none;
        margin: 0 5px 0 0;
    }
}

.cart__button-shopping-clear:hover,
.cart__button-shopping-clear:focus {
    color: $white;
    background: $pink-text;
    cursor: pointer;
}

.cart__button-shopping-continue {
    height: 50px;
    width: 224px; 
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    float: right;
    margin-right: 128px;
    margin-top: 32px;
    margin-bottom: 128px;
    background-color: $white;
    border: 2px solid $grey-area;
    color: $text-darkgray;
    transition: color 900ms, background 900ms;

    @media (max-width: $tablet-width) {
        margin: 0 0 0 24px;
    }

    @media (max-width: $mobile-width) {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        height: 32px;
        width: 170px;
        text-transform: none;
        margin: 0 0 0 5px;
    }
}

.cart__button-shopping-continue:hover,
.cart__button-shopping-continue:focus {
    color: $white;
    background: $pink-text;
    cursor: pointer;
}

.cart__address {
    @media (max-width: $tablet-width) {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: $mobile-width) {
        flex-direction: column;
    }
}

.cart__address-form {
    display: flex;
    flex-direction: column;
}

.cart__address-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;

    @media (max-width: $tablet-width) {
        margin-top:  64px;
    }

    @media (max-width: $mobile-width) {
        margin-top:  48px;
    }
}

.cart__form-input {
    height: 45px;
    width: 360px;
    margin-bottom: 20px;
    border: 2px solid #d1d0d0;

    @media (max-width: $mobile-width) {
        width: 350px;
    }
}

.cart__button-quote {
    height: 35px;
    width: 101px; 
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    margin-top: 3px;
    margin-bottom: 57px;
    background-color: $white;
    border: 2px solid $grey-area;
    color: $text-darkgray;
    transition: color 900ms, background 900ms;

    @media (max-width: $tablet-width) {
        margin-bottom: 128px;
    }   

    @media (max-width: $tablet-width) {
        margin-bottom: 48px;
    }  
}

.cart__button-quote:hover,
.cart__button-quote:focus {
    color: $white;
    background: $pink-text;
    cursor: pointer;
}

.card__price {
    height: 214px;
    width: 360px;
    background-color: #F5F3F3;

    @media (max-width: $tablet-width) {
        margin: 103px 0 147px 15px;
    }

    @media (max-width: $mobile-width) {
        margin: 0 0 96px 0;
    }
}

.card__price-sub {
    font-size: 11px;
    line-height: 13px;
    margin-left: 218px;
    padding-top: 39px;
    text-transform: uppercase;
    font-weight: 400;
}

.card__price-sub-cost {
    font-size: 11px;
    line-height: 13px;
    float: right;
    margin-right: 34px;
    font-weight: 400;
}

.card__price-grand {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-left: 153px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.card__price-grand-cost {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $pink-text;
    float: right;
    margin-right: 37px;
}

hr {
    width: 275px;
}

.cart__price-button-order {
    height: 50px;
    width: 273px; 
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-top: 8px;
    background-color: $white;
    border: 2px solid $grey-area;
    background-color: $pink-text;
    color: $white;
    transform: translate(-50%, 0);
    left: 50%;
    position: relative;
    transition: color 900ms, background 900ms;
}

.cart__price-button-order:hover,
.cart__price-button-order:focus {
    color: $pink-text;
    background: $white;
    cursor: pointer;
    border: 2px solid $pink-text;
}




