.copyright {
    background-color: $black;
}

.copyright__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center; 

    @include mobile {
        flex-direction: column-reverse;
    }
}

.copyright__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $white;
    margin-top: 30px;

    @include mobile {
        margin: 10px auto 10px auto;
    }
}

.copyright_img-button {
    padding: 0px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 7px;
    width: 32px;
    height: 32px;
    background: $white;
    border: none;
    transition: background-color 900ms, fill 1000ms;
}

.copyright_img {
    fill: $black;
 }

.copyright_img-button:hover,  
.copyright_img-button:focus {
    background: $pink-text;
}

.copyright_img-button:hover .copyright_img,
.copyright_img-button:focus .copyright_img {
    fill: $white;
}

.copyright_img-button:active .copyright_img {
    fill: red;
}

.copyright__social {
    @include mobile {
        margin: 14px auto 10px auto;
    }
}