.header {
  background-color: #222222; }
  
.header__logo {
  margin: 0 41px 0 0; 

  @include tablet {
  margin-left: 16px;
  }
}
  
.header__button {
  background-color: transparent;
  border: 0; }
  
.header_link {
  margin: 0 0 0 33px; 

  @include mobile {
    display: none;
  }
}

.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center; 
}
  
.header__menu {
  display: none;
  margin: 0 63px; 
}
  
.display-block {
  display: block;
}
    
.header__button-menu {
  position: relative;
}

.header__burger {
  fill: $white;
  background-color: $black;
  border: none;
}

.header__burger:hover,
.header__burger:focus {
  fill: $pink-text;
  cursor: pointer;
}

.header__menu {
  position: absolute;
  top: 100%;
  right: -300px;
  background: white;
  display: none;
  height: 764px;
  width: 232px;
  box-shadow: -7px 3px 5px grey;

  @include tablet {
    right: -85px;
    position:absolute;
    z-index:9999
  }
}
    
.header__menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
    
.header__burger:hover +.header__menu,
.header__burger:focus +.header__menu {
  display: block;
}

.header__menu-title {
  text-transform: uppercase;
  padding: 37px 0 0 34px;
  font-size: 14px;
  line-height: 17px;
}

